body {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Libre Baskerville', serif;*/
	font-size: 14px;
	color: #353535;
	min-height: 100vh;
}

	body.index {
		background-image: url(../images/illus-1.jpg);
		background-position: center bottom 50px;
		background-repeat: no-repeat;
		min-height: 100vh;
	}

/* Generic styles */
.hamburger {
	background: url(../images/hamburger.svg) no-repeat;
	width: 32px;
	height: 32px;
	position: fixed;
	top: 30px;
	left: 30px;
	opacity: .25;
}

.more {
	background: url(../images/more.svg) no-repeat;
	width: 32px;
	height: 32px;
	position: fixed;
	bottom: 30px;
	left: 30px;
	opacity: .25;
	transition: all .3s;
}

	.hamburger:hover,
	.more:hover {
		opacity: .5;
		transition: all .3s;
	}

/* Principles list bar - styles*/
.principles-list {
	position: relative;
	top: 150px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed6053+0,f9b36d+100 */
	background: #ed6053; /* Old browsers */
	background: -moz-linear-gradient(top,  #ed6053 0%, #f9b36d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ed6053 0%,#f9b36d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ed6053 0%,#f9b36d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6053', endColorstr='#f9b36d',GradientType=0 ); /* IE6-9 */
	color: white;
	height: calc(100vh - 150px);
	border-left: 50px solid #f5f5f5;
    box-sizing: border-box;
}

.principles-list ol {
	list-style: none;
}
	
	.principles-list ol li {
		font-weight: 300;
		font-size: 1.4em;
		border-bottom: 1px dashed #fff;
		padding: 10px;
	}

.principles-list .principle-numbers {
	position: absolute;
	top: 0;
	left: -40px;
}

	.principles-list .principle-numbers li{
		color: black;
		border-bottom-color: black;
	}

/* main navigation styles - Home page*/
nav .nav{
	margin-right: 50px;
	margin-top: 50px;
}

	nav .nav>li a{
		color: #353535;
		padding: 4px 15px;
		border-radius: 20px;
		font-weight: 300;
	}

	nav .nav-pills>li.active>a,
	nav .nav-pills>li.active>a:hover,
	nav .nav-pills>li.active>a:active,
	nav .nav-pills>li.active>a:focus {
		background-color: #f3f3f3;
    	color: #f1635d;
	}

	nav .nav>li>a:focus,
	nav .nav>li>a:hover {
		background-color: #f3f3f3;
	}

/* Index/Home page - Header content style */
.index header {
	text-align: center;
	margin-top: 50px;
}

.index header p a {
	border-bottom: 1px dashed #55aefb;
}

	.index header p a:hover {
		border-bottom: 0px solid #353535;
		background-color: #ffca3a;
		text-decoration: none;
		color: #353535;
	}

	.index p a.start-bttn {
		background-color: #ffca3a;
    	color: #353535;
    	padding: 5px 20px;
    	text-decoration: none;
    	border: none;
    	border-radius: 30px;
    	top: 1px;
    	position: relative;
	}

	.index p a.start-bttn:hover {
		box-shadow: 0px 4px 10px -3px rgba(0,0,0,.25);
		top: 0px;
	}

.index header h1, .index header p {
	margin: 0 auto;
	font-size: 3em;
}

.index header h1 {
	margin-top: 50px;
}

.index header h1 i {
	font-family: 'Libre Baskerville', serif;
	/*background-color: #353535;
	color: #ffca3a;*/
	padding: 5px;
	border-bottom: 2px solid #ffca3a;
}

.index header p {
	font-size: 1.3em;
	margin-top: 60px;
	color: #909090;
	font-weight: 300;
}

/* Main content pages */
.intro-content {
	text-align: center;
	background-color: black;
	color: white;
	min-height: 100vh;
}

.intro-content .heading-bar {
	top: 75px;
	position: relative;
	height: 150px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffca3a+0,ffca3a+25,ffffff+25,ffffff+100 */
	background: #ffca3a; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffca3a 0%, #ffca3a 40%, #000000 40%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffca3a 0%,#ffca3a 40%,#000000 40%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffca3a 0%,#ffca3a 40%,#000000 40%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca3a', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	left: -15px;
}

	.heading-bar h1{
		font-size: 6em;
		font-weight: 800;
		text-transform: uppercase;
		position: relative;
		top: -25px;
		text-align: center;
		font-family: 'Kanit', sans-serif;
		color: #fff;
		text-shadow: 25px 15px 0 rgba(255, 255, 255, 0.15);
	}

	/*.heading-bar h1{
		font-size: 6em;
		font-weight: 400;
		text-transform: uppercase;
		position: relative;
		top: -25px;
		text-align: center;
		font-family: 'Fascinate Inline', cursive;
		color: #000;
	}*/

	.heading-bar hr {
		border-bottom: 3px solid #ffca3a;
		width: 225px;
		text-align: center;
		top: -20px;
		position: relative;
	}

.content-main {
	position: relative;
	font-size: 1.3em;
	top: 110px;
	line-height: 1.5em;
}

.principles-items {
	position: relative;
	top: 90px;
}

.principles-items ol li {
	margin-bottom: 10px
}

	.principles-items ol li a{
		background: #fff;
		box-shadow: 0px 3px 5px rgba(0,0,0,.3);
		margin-right: 15px;
		line-height: 40px;
		display: block;
	}



















