// Fonts variables
$ff-sans: 'Raleway', sans-serif;
$ff-serif: 'Crimson Text', serif;

// Color Variables - Greyscale colors ---  colors from dark to light
$black :#000000;
$dark : #242424; //--- the color for default text in content
$ash: #555555;
$medium-dark: #8c8c8c;
$light-grey: #efefef; //--- the color for background to show quotes of special section etc.
$white: #ffffff;

// Color variables - Colors here
$primary-color: #ffcc05 ; //---yellow color
$secondary-color: #eb2026; //---red color
$gama-color: #f1635c; //---light red
$anchor-hover: #fff1bb; //---light yellow

// Transitions variables
$hover-ease: all .15s ease-in;

// For targeting the @ media queries
$breakpoint-tablet: 768px; // --- for Tablet and below


// the styles start here -------
body {
	font-family: $ff-serif;
	font-size: 16px;
	color: $dark;
	min-height: 90vh;
	a {
		color: $black;
	    text-decoration: underline;
	    transition: $hover-ease;
	    &:hover {
				border-bottom: 0px solid $ash;
				background-color: $anchor-hover;
				text-decoration: none;
				color: $secondary-color;
				transition: $hover-ease;
	    }
	}
	blockquote {
		background-color: $light-grey;
	    border-left-color: $secondary-color;
	    font-size: 1.2em;
	    font-weight: 100;
	    padding: 25px 25px;
	    margin: 15px 0 50px;
	}
	em {
		color: $ash;
		font-style: normal;
		font-family: $ff-sans;
		margin: 25px 0 10px;
		display: block;
		font-weight: 300;
	}
	h1 {
		font-family: $ff-sans;
		font-weight: 100;
		font-size: 6em;
		color: $medium-dark;
		margin-bottom: 50px;
	}
	h2, h3, h4, h5 {
		color: $dark;
		margin-bottom: 30px;
	}
	h4{
		font-size: 1.3em;
		line-height: 1.4em;
	}
	h2 {
		padding: 5px;
		border-bottom: 3px solid $secondary-color;
	}
	p {
		color: $ash;
		font-weight: 300;
		font-size: 1.1em;
		padding-bottom: 40px;
	}
	&.index {
		background: url(../images/illus-1.jpg) no-repeat center bottom 20px;
		height: 750px;
		min-height: 90vh;
		header {
			text-align: center;
			margin-top: 35px;
			h1 {
				margin: 30px auto 15px;
				font-size: 3em;
				color: $dark;
				i {
					font-family: $ff-serif;
					padding: 5px;
					border-bottom: 2px solid $secondary-color;
					color: $black;
				}
			}
			p {
				font-size: 1.2em;
				margin: 40px auto 0 auto;
				a.start-bttn {
					background-color: $primary-color;
			    	color: $dark;
			    	padding: 7px 25px;
			    	text-decoration: none;
			    	border: none;
			    	border-radius: 5px;
			    	top: 1px;
			    	position: relative;
			    	transition: $hover-ease;
			    	&:hover {
			    		box-shadow: 0px 4px 10px -3px rgba(0,0,0,.25);
			    		top: 0px;
			    		transition: $hover-ease;
			    	}
				}
			}
		}
	}
}

 // main navigation styles - Home page
 nav .nav {
	margin-right: 50px;
	margin-top: 35px;
	> li {
		a {
			padding: 3px 15px;
			border-radius: 20px;
			font-family: $ff-sans;
			font-weight: 500;
			font-size: 13px;
			text-decoration: none;
			background-color: $white;
			color: $medium-dark;
			transition: $hover-ease;
			&:focus, &:hover{
				background-color: $light-grey;
				color: $ash;
			}
		}
		&.active > a {
			background-color: $light-grey;
			color: $secondary-color;
			&:hover, &:active, &:focus {
				background-color: $light-grey;
				color: $gama-color;
			}

		}
	}
}

// back to top - css
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

// Intropage - Principles list styles
.intro {
	a.spaned {
		font-size: 12px;
		font-family: $ff-sans;
		display: block;
		text-align: right;
		position: relative;
		top: -60px;
		padding: 5px 20px 5px 0 ;
		color: $secondary-color;
		&:hover {
			opacity: .5;
		}
	}
	#principles-list {
		margin-bottom: 50px;
		li {
		border-bottom: 1px dotted $medium-dark;
		padding: 0;
			a {
				text-decoration: none;
				font-size: 1.3em;
				line-height: 50px;
				display: block;
				margin:0;
				padding:0 15px;
				&:hover {
					background-color: $secondary-color;
					color: white;
				}
			}
		}
	}
}

// Media queries for tablet and below
@media only screen and (max-width: 768px) {
	body {
		h1 {
			font-size: 3em;
		}
	}
}
