body {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  color: #242424;
  min-height: 90vh; }
  body a {
    color: #000000;
    text-decoration: underline;
    transition: all 0.15s ease-in; }
    body a:hover {
      border-bottom: 0px solid #555555;
      background-color: #fff1bb;
      text-decoration: none;
      color: #eb2026;
      transition: all 0.15s ease-in; }
  body blockquote {
    background-color: #efefef;
    border-left-color: #eb2026;
    font-size: 1.2em;
    font-weight: 100;
    padding: 25px 25px;
    margin: 15px 0 50px; }
  body em {
    color: #555555;
    font-style: normal;
    font-family: "Raleway", sans-serif;
    margin: 25px 0 10px;
    display: block;
    font-weight: 300; }
  body h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 6em;
    color: #8c8c8c;
    margin-bottom: 50px; }
  body h2, body h3, body h4, body h5 {
    color: #242424;
    margin-bottom: 30px; }
  body h4 {
    font-size: 1.3em;
    line-height: 1.4em; }
  body h2 {
    padding: 5px;
    border-bottom: 3px solid #eb2026; }
  body p {
    color: #555555;
    font-weight: 300;
    font-size: 1.1em;
    padding-bottom: 40px; }
  body.index {
    background: url(../images/illus-1.jpg) no-repeat center bottom 20px;
    height: 750px;
    min-height: 90vh; }
    body.index header {
      text-align: center;
      margin-top: 35px; }
      body.index header h1 {
        margin: 30px auto 15px;
        font-size: 3em;
        color: #242424; }
        body.index header h1 i {
          font-family: "Crimson Text", serif;
          padding: 5px;
          border-bottom: 2px solid #eb2026;
          color: #000000; }
      body.index header p {
        font-size: 1.2em;
        margin: 40px auto 0 auto; }
        body.index header p a.start-bttn {
          background-color: #ffcc05;
          color: #242424;
          padding: 7px 25px;
          text-decoration: none;
          border: none;
          border-radius: 5px;
          top: 1px;
          position: relative;
          transition: all 0.15s ease-in; }
          body.index header p a.start-bttn:hover {
            box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.25);
            top: 0px;
            transition: all 0.15s ease-in; }

nav .nav {
  margin-right: 50px;
  margin-top: 35px; }
  nav .nav > li a {
    padding: 3px 15px;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    background-color: #ffffff;
    color: #8c8c8c;
    transition: all 0.15s ease-in; }
    nav .nav > li a:focus, nav .nav > li a:hover {
      background-color: #efefef;
      color: #555555; }
  nav .nav > li.active > a {
    background-color: #efefef;
    color: #eb2026; }
    nav .nav > li.active > a:hover, nav .nav > li.active > a:active, nav .nav > li.active > a:focus {
      background-color: #efefef;
      color: #f1635c; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.intro a.spaned {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  display: block;
  text-align: right;
  position: relative;
  top: -60px;
  padding: 5px 20px 5px 0;
  color: #eb2026; }
  .intro a.spaned:hover {
    opacity: .5; }
.intro #principles-list {
  margin-bottom: 50px; }
  .intro #principles-list li {
    border-bottom: 1px dotted #8c8c8c;
    padding: 0; }
    .intro #principles-list li a {
      text-decoration: none;
      font-size: 1.3em;
      line-height: 50px;
      display: block;
      margin: 0;
      padding: 0 15px; }
      .intro #principles-list li a:hover {
        background-color: #eb2026;
        color: white; }

@media only screen and (max-width: 768px) {
  body h1 {
    font-size: 3em; } }

/*# sourceMappingURL=style.css.map */
